button {
  border-radius: 12px;
  font-size: 32px;
  font-weight: 700;
  padding: 10px;
  border: transparent;
  color: hsl(221, 14%, 31%);
  background-color: hsl(30, 25%, 89%);
  box-shadow: 0 3px 0 0 hsl(28, 16%, 65%);
  cursor: pointer;
}

button:hover {
  background-color: white;
  box-shadow: 0 3px 0 0 hsl(28, 16%, 65%);
}

.remove {
  font-size: 25px;
  font-weight: 700;
  color: white;
  background-color: hsl(225, 21%, 49%);
  box-shadow: 0 3px 0 0 hsl(224, 28%, 35%);
}

.remove:hover {
  background-color: hsl(225, 47%, 70%);
  box-shadow: 0 3px 0 0 hsl(224, 28%, 35%);
}

.span {
  grid-column-start: 1;
  grid-column-end: 3;
}

.equals {
  grid-column-start: 3;
  grid-column-end: 5;
  font-size: 25px;
  color: white;
  background-color: hsl(6, 63%, 50%);
  box-shadow: 0 5px 0 0 hsl(6, 70%, 34%);
}

.equals:hover {
  background-color: hsl(6, 80%, 59%);
  box-shadow: 0 5px 0 0 hsl(6, 70%, 34%);
}

@media screen and (max-width: 375px) {
  button {
    border-radius: 5px;
    font-size: 29px;
  }
  .remove,
  .equals {
    font-size: 15px;
  }
  .span,
  .equals {
    padding: 20px 0;
  }
}
