.box-Container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  margin-bottom: 10px;
}

@media screen and (max-width: 375px) {
  .box-Container {
    margin-bottom: 25px;
  }
}
