.box-Container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  margin-bottom: 10px;
}

.box-Container > p {
  font-size: 32px;
  margin: 0;
}

.box-Tuggle {
  font-size: 14px;
  display: flex;
  align-items: center;
}

.box-Tuggle > p {
  margin-right: 20px;
  text-transform: uppercase;
}
