@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}
body {
  width: 500px;
  margin: 7vh auto;
  padding: 0;
  background-color: hsl(222, 26%, 31%);
  font-size: 32px;
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
}

@media screen and (max-width: 375px) {
  body {
    width: 100%;
    padding: 0 20px;
    margin: 2vh auto;
  }
}
