@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap");

body {
  width: 500px;
  margin: 2vh auto;
  padding: 0;
  background-color: hsl(222, 26%, 31%);
  font-size: 32px;
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
}
